.reviewsSection {
  & > * {
    padding: 15px;
  }
}

.reviewsSectionHeader {
  margin-bottom: 3rem;
  border-top: none !important;
  &,
  // All review items and pagination block
  & ~ * {
    background-color: #fff;
    border: 1px solid $line-color;
    padding: 20px 15px;
  }
}

.filters {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviewHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 16px;

  & > .options {
    align-self: start;
    grid-column: 3;
    grid-row: 1;

    & > button[class*='dropdown-toggle'] {
      background-color: transparent;
      color: gray;

      &::after {
        display: none;
      }
    }

    &:hover {
      color: $color-sec-dark;
      cursor: pointer;
    }
  }

  & > .location {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    gap: 3px;
    transform: translateY(-140%);
  }

  & > .reviewText {
    color: $color-pry;
    text-decoration: underline;

    & > a {
      color: inherit !important;
      text-decoration: inherit !important;
    }
  }
}

.review {
  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  & [class*='dropdown-toggle'] {
    background-color: none !important;
  }

  & > ul.featureRatings {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }
  }

  & > .reviewFooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
}

// .noReviewsYet {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.reviewLikersList {
  & > *:not(:last-child) {
    border-bottom: 1px solid $line-color;
  }
}
