.modalBody {
  display: grid;
  grid-template-columns: 1fr 25%;
}

.gallerySection {
  & figure {
    position: relative;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;

    img {
      object-fit: cover;
    }
  }
}

.descriptionSection {
}
