@mixin circle($radius, $bg) {
  width: calc($radius * 2);
  height: $radius * 2;
  background-color: $bg;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

@mixin thin-scrollbar {
  &::-webkit-scrollbar {
    height: 5px; // for horizontal scrollbars
    width: 5px; // for vertical scrollbars
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
    // background-color: #cacaca;
    height: 7px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #888888;
    height: 3px;
    border-radius: 999px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
  }
}
