// $color-pry: #003366;
$color-pry: #024180;
// $color-pry-dark: #0869c4;
$color-pry-light: #0955a1;
$color-pry-dark: #002346;
$color-pry-lightest: #f1f8ff;

$color-sec: #e87525;
$color-sec-lightest: #ffffff;
$color-sec-dark: #b5520d;
$color-sec-darker: #813500;

$text-color: #333333;
$text-light: #b8b8b8;
$text-dark: #242629;

$default-fsize: 1.5rem;
