.questionHeader {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  margin-bottom: 1rem;

  & > button.flag {
    all: unset;
    align-self: start;
    grid-column: 3;
    grid-row: 1;

    &:hover {
      color: $color-sec-dark;
      cursor: pointer;
    }
  }

  & > .location {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    gap: 3px;
    transform: translateY(-100%);
  }
}

.newQuestionForm {
  @media screen and (max-width: 37.5em) {
    flex-basis: 100%;
  }
}

.question {
  .questionText {
    margin-bottom: 2rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

.answer {
  font-size: 1.7rem;
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
    // border-bottom: 1px solid #ccc;
  }
  &:last-of-type {
    margin-bottom: 2.6rem;
  }

  &:hover {
    background-color: #f1f1f1;
  }

  & > *:first-child > *:first-child {
    display: block;
    margin-top: 4px;
    transform: translateY(10%);
  }
  .answerHeader {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: start;
    column-gap: 10px;
    margin-bottom: 2rem;
  }
  .authorAndDate {
    grid-row: 1;
    grid-column: 2 / -1;
  }
  .responderInfo {
    grid-row: 2;
    grid-column: 2 / -1;
    transform: translateY(-45%);
  }
}
