.queSectionHeading {
  display: grid;
  grid-template-columns: 1fr auto;

  & > .btnNewQuestion {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  & > .allQuestionsLink {
    grid-column: 1 / 2;
  }

  & > .collapsedContent {
    grid-column: 1 / -1;
  }

  form.newQuestionForm {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;

    & > * {
      grid-column: 1 / -1;
    }

    & > .defaultImg {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    & > textarea {
      grid-column: 2 / -1;
      grid-row: 2;

      & ~ *:not(button[type='submit']) {
        grid-column: 2 / -1;
      }
    }

    & > [class*='invalid-feedback'] {
      // grid-column: 2 / -1;
    }
  }
}

.questionHeader {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  margin-bottom: 1rem;
  font-size: 16px;

  & > button.flag {
    align-self: start;
    grid-column: 3;
    grid-row: 1;

    &:hover {
      color: $color-sec-dark;
      cursor: pointer;
    }
  }

  & > .location {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    gap: 3px;
    transform: translateY(-130%);
  }
}

.question {
  .questionText {
    padding-bottom: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid #ccc;

    &:hover {
      text-decoration: underline;
    }
  }
}

.answer {
  font-size: 1.7rem;
  // background-color: #f5f5f5;
  padding-block: 1.5rem;
  border-radius: 4px;

  &:not(:last-of-type) {
    // margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  &:last-of-type {
    // margin-bottom: 2.6rem;
  }

  &:hover {
    // background-color: #f1f1f1;
  }

  & > *:first-child > *:first-child {
    display: block;
    margin-top: 4px;
    transform: translateY(10%);
  }
  .answerHeader {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: start;
    column-gap: 10px;
    margin-bottom: 2rem;
  }
  .authorAndDate {
    grid-row: 1;
    grid-column: 2 / -1;
  }
  .responderInfo {
    grid-row: 2;
    grid-column: 2 / -1;
    transform: translateY(-45%);
  }
}

[class*='accordion'].lessHelpfulAnswers {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
