.loadingModal {
  position: fixed;
  inset: 0;
  background-color: rgba(#fff, 0.7);
  z-index: 100;
}

.spinnerModal *:not([class*='Spinner']) {
  background-color: rgba(0, 0, 0, 0.1);
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  opacity: 1 !important;
  border: none !important;

  // My styles
  position: absolute;
  // top: 50%;
  left: 50%;
  // transform: translateX(-50%);
  z-index: 2; // Bootstrap modal is 1055
  // End of my styles

  -webkit-animation: sk-rotate 1s infinite forwards;
  animation: sk-rotate 2s infinite forwards;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  // background-color: $color-pry;
  background-color: #000;
  border-radius: 100%;

  -webkit-animation: sk-bounce 1s infinite ease-in-out forwards;
  animation: sk-bounce 2s infinite ease-in-out forwards;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
