input[type='radio'].radioInput {
  display: none;
  font-weight: 500;

  & + [class*='btn'] {
    backface-visibility: hidden;
  }

  &:checked + [class*='btn'] {
    // background-color: rgba($color-pry-light, 0.2);
    color: #fff;
    border-color: #000;
    background-color: $color-pry-light;
    border-color: transparent;
  }
}

.btnRadioOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  & > * {
    flex: 1;
    & [class*='btn'] {
      width: 100%;

      &:hover {
        background-color: $color-pry-light;
        color: #fff;
        // font-weight: 600;
        border-color: transparent;
      }
    }
  }
}

.circleRadioOptions {
  display: block;
}
