.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
  padding: 3rem max(5.2rem, 5.2vw);
  background-color: #f5f5f5;

  & > header {
    grid-column: 1 / -1;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 3rem;
    border-radius: 4px;
  }

  @media screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;
    padding-inline: 2vw;

    & > * {
      grid-column: 1 /-1;
    }
  }
}

.left {
  & > * {
    margin: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 2rem;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.nav {
  padding: 0;

  & > * {
    all: unset;
    flex-grow: 1;
    padding-block: 2rem;
    position: relative;
    border-bottom: 3px solid transparent;
    min-width: 150px;

    &::after {
      // content: '';
      // position: absolute;
      // bottom: 0;
      // height: 3px;
      // background-color: $color-pry;
    }
    &[data-active*='true'] {
      background-color: #fafafa;
      color: $color-pry;
      border-color: currentColor;
    }

    &[data-active*='false']:hover {
      // background-color: #;
      border-color: #ccc;
    }
  }
}

section.similarBusinesses {
  grid-column: 1 / -1;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  // padding: 3rem;
  border-radius: 4px;
}
