.businessesResultsPage {
  // background-color: orange;
  min-height: 100%;
  max-height: 100%;
  padding: 4rem;
  padding-top: 6rem;
  // background-color: #ececec;

  display: grid;
  grid-template-columns: max(18%, 20rem) 1fr;
  grid-template-rows: min-content auto 1fr;
  grid-template-areas:
    'heading heading'
    'map searchresults'
    'filter searchresults';

  align-items: start;
  row-gap: 2.5rem;
  column-gap: 2.5rem;

  & > *:not(h2) {
    border-radius: 7px;
    // box-shadow: 0 0 20px rgba(#000, 0.2);
  }

  & > h2 {
    text-align: center;
    // font-size: 2.7rem;
    font-size: 3.2rem;
    letter-spacing: 1px;
    grid-area: heading;
    // margin-bottom: 1rem;
    font-family: 'Baskervville', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
  }

  & > .mapPreview {
    grid-area: map;
    align-self: center;
    height: 15rem;
    background-color: #fff;
    border: 1rem solid #fff;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(#000, 0.2);

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: max-content;
      z-index: 2;
      background-color: rgba(#fff, 0.5);
      border-color: gray;
      color: unset;
      color: #000;

      &:hover {
        color: $color-pry;
        border-color: $color-pry;
        background-color: rgba(#fff, 0.8);
      }
    }
  }

  & > .filter {
    grid-area: filter;
    background-color: #fff;
    // padding: 2.5rem;
    font-size: 1.3rem !important;
    // box-shadow: 0 0 20px rgba(#000, 0.2);

    & > h4 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    & > .filterSection {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-block: 2rem;
      border-top: 1px solid #dadada;

      & > .filterType {
        font-size: 0.9em;
        color: $text-dark;
        font-weight: bold;
      }
      & > label {
        display: flex;
        align-items: center;
        gap: 7px;

        & > [type='checkbox'] {
          accent-color: $text-dark;
        }
        &:hover,
        & > *:hover {
          cursor: pointer;
          color: black;
        }
      }
    }
  }

  & > .searchResults {
    // border: 1px solid gray;
    grid-area: searchresults;
    background-color: #fff;
    padding: 1rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;

    & > h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  & .pagination {
    // grid-area: pagination;
    grid-column: 2;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: right;
    justify-self: center;
  }

  ul.paginators {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;

    & > li {
      & > a.pageLink {
        width: 25px;
        height: 25px;
        // background-color: rgba(#f1f1f1, 0.5);
        // border-radius: 50%;
        display: grid;
        place-items: center;
        place-content: center;
        font-size: 1.5rem;
        color: #000;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: 5px;
          // border: 1px solid $color-pry;
          transform: scale(0.5);
          opacity: 0;
          z-index: -1;
          transition: transform 0.1s;
        }

        &:hover {
          color: $color-pry;

          &::before {
            opacity: 1;
            transform: scale(1.1);
            background-color: $color-pry-lightest;
            color: $color-pry !important;
          }
        }

        &.activePagelink {
          color: rgba(#fff, 0.9);

          &::before {
            border: none;
            opacity: 1;
            transform: scale(1);
            background-color: $color-pry !important;
            opacity: 1;
          }
        }
      }
    }
  }
}

.navbar {
  // border-bottom: 1px solid #ccc;
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}
