.main {
  background-color: #f8fafb;
}

.ctaItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  gap: 5rem;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }
}
