.container {
  $gutter: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row dense;
  align-items: start;
  gap: $gutter;
  padding-block: $gutter;
  position: relative;

  & > * {
    &:not(main, [class*='profileInfo']) {
      // padding-block: $gutter;
      background-color: #fff;
      border: 1px solid $line-color;
      padding: 2rem;
    }

    &:where(main) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      gap: $gutter;

      @media screen and (max-width: 56.25em) {
        grid-row: 4 / 5;
      }

      & > * {
        border: 1px solid $line-color;
        margin: 0 !important;
      }
    }

    &.profileInfo {
      display: flex;
      flex-direction: column;
      gap: $gutter;
      // background-color: transparent;

      & > * {
        background-color: #fff;
        border: 1px solid $line-color;
        padding: 2rem;
      }
    }
  }

  @media screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;

    & > * {
      grid-column: 1 / 2;
    }
  }
}
