$row-gap: 2rem;

.container {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 10px;
  row-gap: 0;
  column-gap: 8rem;

  & > * {
    // background-color: #ccc;

    &:where(nav.pageRouteNav) {
      grid-column: 1 / -1;
      grid-row: 1;
      margin-bottom: 2rem;
    }

    &:where(header) {
      grid-column: 1 / 2;
      display: flex;
      align-items: flex-start;
      gap: 1.2rem;
      flex-wrap: wrap;
      padding-bottom: 3rem;
      border-bottom: 1px solid $line-color;

      @media screen and (max-width: 56.25em) {
        margin-bottom: 3rem !important;
      }
    }

    &:where(h3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      border-bottom: 1px solid $line-color;
      padding-block: 1.5rem;
    }

    &:where(ul.answersList) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      // margin-bottom: 7rem !important;

      & > * {
        padding-block: $row-gap;
        // border-top: 1px solid $line-color;

        &:first-child {
          // padding-bottom: $row-gap;
        }
        &:last-child {
          // padding-block: $row-gap;
          border-bottom: 1px solid $line-color;
        }
      }
    }

    &:where(form.newAnswer) {
      grid-column: 1;
      background-color: #f5f5f5;
      padding: 3rem;
      border-radius: 4px;
    }

    &:where(aside) {
      grid-column: 2 / 3;
      grid-row: 2 / 10;

      & > h3 {
        font-weight: 400;
        font-size: 2rem;
      }

      & ul > * {
        padding-block: 2rem;
        border-bottom: 1px solid $line-color;

        &:not(:last-child) {
        }
      }
    }
  }

  @media screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;

    & > * {
      grid-column: 1 / -1;
      grid-row: unset;
    }
  }
}

.questionAsker {
}
