.main {
  background-color: #f2f2f2;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: min(5rem, 3vw) max(5.2rem, 5.2vw);

  @media screen and (max-width: 56.25em) {
    flex-direction: column;
  }

  & > * {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 3rem;
    border-radius: 4px;
  }
}

.newReview {
  flex: 2;
  font-size: 1.5rem;

  & > * {
  }

  section.wouldYouRecommend {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-block: 2rem;
    border-block: 1px solid #d3d3d3;
  }

  .responseFromBusiness {
    svg {
      color: $color-pry;
    }
  }
}

.recentReviews {
  flex: 1;
}
