.main {
  background-color: #f5f5f5;
  padding-block: 3rem;
}
.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2vw;

  @media screen and (min-width: 1500px) {
    // padding-inline: 6rem;
  }

  @media screen and (max-width: 56.25em) {
    grid-template-columns: 1fr;
  }

  & > h1,
  & > nav.pageRouteNav {
    grid-column: 1 / -1;
  }

  & > h1 {
    // font-family: 'Baskervville', 'sans-serif';
    font-size: 3rem;
  }

  & > *:is(section, aside) {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 2rem;
    border-radius: 4px;
  }
}
