.tipsSection {
  border-top: none !important;
  & > * {
    padding: 15px;
    background-color: #fff;
    border: 1px solid $line-color;

    // Section Header
    &:first-child {
      border-top: none !important;
    }

    &:not(:first-child) {
      padding: 20px;
    }

    // Not pagination block
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.adviceHeader {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-template-rows: 25px 25px;
  column-gap: 10px;
  margin-bottom: 2rem;

  & > figure {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
  }

  & > .reviwer {
    grid-column: 2 / 3;
  }

  & > .location {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 3px;
    // transform: translateY(-100%);
  }
  & > .options {
    all: unset;
    grid-column: 3;
    grid-row: 1 / 2;
    align-self: start;

    &:hover {
      color: $color-sec-dark;
      cursor: pointer;
    }
  }
}
