.profileStats {
  li {
    display: grid;
    grid-template-columns: 25ch auto;
    gap: 2rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    & > *:where(a, button) {
      display: grid;
      grid-template-columns: 40px auto;
      // gap: 1.5rem;
    }
  }
}
header.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

aside.profileStats {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  @media screen and (max-width: 56.25em) {
    grid-row: 2 / 3;
  }
}

section.about {
  grid-column: 1 / 2;

  @media screen and (max-width: 56.25em) {
    grid-row: 3 / 4 !important;
  }
}

aside.ads {
}
