.profileStats {
  li {
    display: grid;
    grid-template-columns: 25ch auto;
    gap: 2rem;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    & > *:where(a, button) {
      display: grid;
      grid-template-columns: 40px auto;
      // gap: 1.5rem;
    }
  }
}
header.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  aside.profileStats {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  section.about {
    // grid-row: 2 / 3;
    grid-column: 1 / 2;
    // transform: translateY(calc(100%));
  }
}

aside.ads {
}
