.reviews {
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.filters {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviewHeader {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  margin-bottom: 2rem;
  font-size: 16px;

  & > button.flag {
    align-self: start;
    grid-column: 3;
    grid-row: 1;

    &:hover {
      color: $color-sec-dark;
      cursor: pointer;
    }
  }

  & > .location {
    // grid-row: 1 / 2;
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    gap: 3px;
    transform: translateY(-140%);
  }

  & > .reviewText {
    color: $color-pry;
    text-decoration: underline;

    & > a {
      color: inherit !important;
      text-decoration: inherit !important;
    }
  }
}

.review {
  overflow: hidden;

  & > ul.featureRatings {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    & > * {
      flex: 1;
    }
  }

  & > .reviewFooter {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 2;
  }
}
