.businesses {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.5rem;
  gap: 10px;
  row-gap: 2vw;
  position: relative;
  // border: 1px solid gray;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;

  @media screen and (max-width: 47em) {
    justify-content: center;
  }

  &.mainResults {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &.noResults {
    text-align: center;
    flex: 1;
    // border: 1px solid gray;
    display: grid;
    place-items: center;
    place-content: center;
    margin-inline: auto;
    font-size: 2rem;
    color: black;
    max-width: 40ch;
    padding: 5rem;
    transform: translateY(2rem);
  }

  & .totalResults {
    position: absolute;
    bottom: calc(100% + 5px);
    color: $color-pry-light;
    z-index: 4;
  }
}
