.businesses {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.5rem;
  gap: 10px;
  row-gap: 2vw;
  position: relative;
  // border: 1px solid gray;
  margin-bottom: 5rem;
  padding: 0;

  &.mainResults {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &.noResults {
    text-align: center;
    flex: 1;
    border: 1px solid #cacaca;
    padding-bottom: 5rem;
    display: grid;
    place-items: center;
    place-content: center;
    font-size: 2rem;
    color: black;
    min-height: 50rem;
  }

  & .totalResults {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 3px;
    color: $color-pry-light;
    z-index: 4;
  }
}
