.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: max(1rem, 0.5vw) max(2rem, 2vw);
  // background-color: #2b2b2b;
  font-size: 1rem !important;
  z-index: 5;

  @media screen and (max-width: 56.25em) {
    justify-content: space-between !important;
    padding-inline: 0;

    &-logo {
      margin-left: 0 !important;
    }
  }

  &-logo {
    color: #fff;
    cursor: pointer;
    // margin-left: auto;
    transform: scale(0.7);
    // transform-origin: left;

    & ~ * {
      transform: translateX(-2rem);
    }
  }

  &-breadcrumb {
    cursor: pointer;
    transform: scale(2);
    display: none;
    // margin-left: auto;

    &:hover svg {
      color: rgba(#fff, 0.7) !important;
    }
  }

  .searchIcon {
    font-size: 1.5rem;
    color: #fff;
    display: none !important;
    transition: color 0.2s;

    @media screen and (max-width: 31.25em) {
      display: flex !important;
    }

    &:hover {
      color: $color-sec !important;
      cursor: pointer;

      & svg {
        // color: #fff !important;
      }
    }

    @media screen and (max-width: 50em) {
      display: flex !important;
    }
  }

  @media screen and (max-width: 50em) {
    > [class*='BusinessSearchForm'] {
      display: none;
    }
  }

  &-auth {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    // margin-left: auto;

    & > button {
      min-width: 7rem;
    }
    & > .userIcon {
      // display: none;

      @media screen and (max-width: 56.25em) {
        // display: inline-block !important;
      }
    }
    @media screen and (max-width: 56.25em) {
      // display: none !important;

      & + .nav-breadcrumb {
        // display: inline-block !important;
      }
    }
  }
  @media screen and (max-width: 37.5em) {
    & [class*='BusinessSearchForm'] {
      display: none;
    }
  }
}

.signedInUser {
  width: max-content;
  color: #cecece;
}

// .dropdownToggler > button {
//   background-color: transparent !important;
//   display: flex;
//   align-items: center;
//   gap: 5px;
//   font-size: 1.5rem;

//   & img {
//     display: inline-block;
//     border-radius: 50%;
//   }

//   & .userName {
//     margin-left: 1rem;
//   }
// }

.dropdownToggler > a {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;

  & img {
    display: inline-block;
    border-radius: 50%;
  }

  & .userName {
    margin-left: 7px;
    font-size: 16px;

    @media screen and (max-width: 37.5em) {
      display: none;
    }
  }
}
