.nav {
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  align-items: center;
  gap: max(3vw, 2.5rem);
  padding: max(1.7rem, 1vw) 0; // max(4rem, 4vw)
  font-size: 1rem !important;
  z-index: 10;

  left: 0;
  width: 100%;
  z-index: 45;
  position: relative;

  // & [class*='container'] {
  //   position: relative;
  //   z-index: 45;
  // }

  & * {
    z-index: 45;
  }

  @media screen and (max-width: 56.25em) {
    justify-content: space-between !important;

    &-logo {
      margin-left: 0 !important;
      z-index: 20;
    }
  }

  &[class*='container'] {
    // max-width: 100%;
  }

  &.sticky {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    border-top: 3px solid #333;
    z-index: 5;

    @media screen and (max-width: 56.25em) {
      justify-content: space-between !important;
      // gap: 3rem !important;
    }

    & > form[class*='BusinessSearchForm'] {
      margin-inline: 0;
    }
    & > [class*='Navbar_nav-auth'] {
      margin-left: 0 !important;
    }
  }

  &-logo {
    color: #fff;
    cursor: pointer;
    // margin-right: auto !important;
    transform: scale(0.7);
    // transform-origin: left;

    & ~ * {
      transform: translateX(-2rem);
    }
  }

  &-breadcrumb {
    cursor: pointer;
    transform: scale(2);
    display: none;
    // margin-left: auto;

    &:hover svg {
      color: rgba(#fff, 0.7) !important;
    }
  }

  .search {
    font-size: 1.5rem;
    color: #fff;
    margin-inline: auto;
    display: none !important;
    transition: color 0.2s;

    @media screen and (max-width: 31.25em) {
      display: flex !important;

      & > span {
        display: none;
      }
    }

    &:hover {
      color: $color-sec !important;
      cursor: pointer;

      & svg {
        // color: #fff !important;
      }
    }

    @media screen and (max-width: 50em) {
      display: flex !important;
    }
  }

  @media screen and (max-width: 50em) {
    > [class*='BusinessSearchForm'] {
      display: none;
    }
  }

  & > .icons {
    display: flex;
    align-items: center;
    gap: max(1.5vw, 1.5rem);
    // margin-left: auto;
    margin-right: 1vw;

    & > * {
      cursor: pointer;

      & svg {
        transition: color 0.2s;
      }

      &:hover svg {
        color: #aaa !important;
      }
    }
    & > .notifToggler {
      color: $color-sec !important;

      & > a[class*='dropdown-toggle nav-link'] {
        &::after {
          display: none;
        }
        & > .iconBox:not([data-count='0']) {
          position: relative;

          &::before {
            content: attr(data-count);
            position: absolute;
            top: -10px;
            left: 50%;
            font-weight: bold;
            @include circle(17px, red, #fff);
          }
        }
      }
      & > [class*='dropdown-menu'] {
        max-width: 40vw;
        padding-right: 3rem !important;
      }
    }
    @media screen and (max-width: 50em) {
      // margin-inline: auto;
    }
  }

  &-auth {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 5px;

    & > button {
      min-width: 7rem;
    }
    & > .userIcon {
      // display: none;

      @media screen and (max-width: 56.25em) {
        // display: inline-block !important;
      }
    }
    @media screen and (max-width: 56.25em) {
      // display: none !important;

      & + .nav-breadcrumb {
        // display: inline-block !important;
      }
    }
  }
  @media screen and (max-width: 56.25em) {
    & [class*='BusinessSearchForm'] {
      // display: none;
    }
  }
}

.signedInUser {
  width: max-content;
  color: #cecece;

  &:hover {
    color: $color-sec;
  }
}

.dropdownToggler > a {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;

  & img {
    display: inline-block;
    border-radius: 50%;
  }

  & .userName {
    margin-left: 7px;
    font-size: 16px;

    @media screen and (max-width: 37.5em) {
      display: none;
    }
  }
}
