.modalIconHeader {
  text-align: center;
  width: 100%;

  & > * {
    transform: translateX(1rem);
  }
}

.authContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.4rem;
  color: black;
  gap: 1.2rem;
  // border: 2px solid #f04a4a;
  font-size: 1.5rem;
  position: relative;

  & > * {
    // border: 1px solid #f04a4a;
  }
  & > h1 {
    // color: red !important;
  }

  .requesting {
    &,
    & * {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}

form.credentialsForm {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.5rem;
  align-items: center;

  & small.forgotPassLink {
    grid-column: 1 / -1;
    justify-self: center;
  }

  & > .authField {
    grid-column: 1 / -1;
    position: relative;
    display: grid;
    grid-template-columns: 9ch 1fr;
    align-items: center;
    gap: 1rem;

    & > label {
      font-size: 1.3rem;
      justify-self: right;
      text-align: right;
    }

    & > .invalid-feedback {
      // position: absolute;
      // top: 100%;
    }
  }
  & input[type='text'],
  & input[type='password'] & input[type='email'] {
    &:focus {
    }
  }
  & > button {
    grid-column: 1 / 3;
    text-align: center;
  }

  .linkSuggestions {
    grid-column: 1 / -1;
  }
}

form.signupForm {
  // border: 2px solid #f04a4a;
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);

  & > * {
    grid-column: 1 / -1;
    // border: 2px solid gray;
  }
  & > .firstNameField {
    grid-column: 1 / 2;
  }
  & > .lastNameField {
    grid-column: 2 / 3;
  }
  & input[type='text'],
  & button {
    min-width: 0;
    max-width: 100%;
  }
}

.moreSignupDetails {
  // display: grid;
  // grid-template-columns: 15rem 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  text-align: left;
  margin-top: 3rem;
  // border: 1px solid #aaa;

  & > * {
    text-align: center;
    // grid-column: 1 / -1;
  }
  & > .photo {
    grid-column: 1 / 2;

    & img {
      border-radius: 50%;
      border: 1px solid gray !important;
    }

    & > .photoUploadStrategies {
      grid-column: 2 / -1;
      display: flex;
      flex-direction: column;
      // align-items: center;

      & > * {
        width: 100%;
        transform: translateX(2px);

        &:is(.btnFileOpener) [type='file'] {
          display: none;
        }
      }
      & > .btnFileOpener {
        // grid-column: 1 / -1;
      }
    }

    & img {
      border: 1px solid #aaa;
    }
  }

  & > .birthday {
    grid-column: 1 / 3;
    grid-row: 2;

    & > .birthdayFields {
      & button {
        color: $text-dark;
        font-weight: 500;
        background-color: #eee;

        &:hover {
          background-color: #dadada;
        }
      }
      & [class*='dropdown']:is([class*='show']) {
        & button {
          background-color: #dadada;
        }
      }
    }
  }

  & > .gender {
    & > .genderOptions {
      & > label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.1em;
        cursor: pointer;
        position: relative;

        &:has([type='radio']:checked)::after {
          transform: translateY(-55%) scale(0.45);
        }

        & > [type='radio'] {
          visibility: hidden;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-55%);
          left: 0;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          border: 2px solid $color-pry-light;
          background-color: #fff;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-55%) scale(0);
          left: 0;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background-color: $color-pry-light;
          // transform: ;
          transition: transform 0.2s;
        }
      }
    }
  }

  & > .actions {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 1rem;

    & [class*='dropdown'] > button {
      background-color: transparent !important;
    }

    & > button:first-child {
      // flex: 1;
    }
  }
}

.emailVerification {
  // border: 2px solid #6d6d6d;

  & > .inputs {
    display: grid;
    grid-template-columns: repeat(4, minmax(2rem, 1fr));
    grid-template-rows: 5rem;
    gap: 1rem;
    margin-top: 3rem;

    & > input {
      display: inline-block;
      min-width: 0;
      text-align: center;
      font-size: 3rem;
      color: #000;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      /* Firefox */
      &[type='number'] {
        -moz-appearance: textfield;
      }
    }
  }
}

.authSuccess {
  // align-items: ;
  & > .successIcon {
    margin-inline: auto;
    max-width: min-content;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 50%;
    padding: 2rem;
    background-color: #a6ffa6;
    position: relative;

    & > &::after {
      content: '';
      position: absolute;
      top: 50%;
    }
  }
}

.authNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  & > button {
    color: #000 !important;
    font-size: 16px;
    padding: 3px 7px;

    &:hover {
      background-color: #e4e4e4;
    }
  }
}

button.btnSocial {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  // align-items: center;
  justify-content: center;

  &[data-provider*='facebook'] {
    background-color: #2b52a7;
    border: none !important;
    color: #fff !important;

    &:hover,
    &:active,
    &:focus {
      background-color: #16326e !important;
      color: #fff !important;
    }
  }

  &:hover {
    background-color: #f5f5f5 !important;
    color: $color-pry-dark !important;
  }
}

.link {
  font-size: 1.15rem;
  grid-column: 1 / 2;
  color: $color-pry;

  &:hover {
    color: $color-pry-dark;
    text-decoration: underline;
  }
}
