.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-bullets {
  list-style: none;
}

.text-pry {
  color: $color-pry;
}
.text-sec {
  color: $color-sec;
}

// .d-flex {
//   display: flex;
// }
// .align-items-center {
//   align-items: center;
// }

.flex-gap-1 {
  gap: 0.7rem;
}
.flex-gap-2 {
  gap: 2.2rem;
}
.flex-gap-3 {
  gap: 3rem;
}

.thin-scrollbar,
.modal-body {
  &::-webkit-scrollbar {
    height: 5px; // for horizontal scrollbars
    width: 7px; // for vertical scrollbars
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    // background-color: #cacaca;
    height: 7px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    height: 3px;
    border-radius: 999px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
  }
}
