.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-bullets {
  list-style: none;
}

.text-pry {
  color: $color-pry;
}
.text-sec {
  color: $color-sec;
}

.bg-halfwhite {
  background-color: rgba(#fff, 0.5);
}

.flex-gap-1 {
  gap: 0.7rem;
}
.flex-gap-2 {
  gap: 2.2rem;
}
.flex-gap-3 {
  gap: 3rem;
}

.thin-scrollbar,
.modal-body {
  @include thin-scrollbar;
}
