.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: max(1rem, 0.5vw) max(2rem, 2vw);
  // background-color: #2b2b2b;
  font-size: 1rem !important;
  z-index: 5;

  @media screen and (max-width: 37.5em) {
    justify-content: space-between;
    padding-inline: 6vw;

    &-logo {
      margin-left: 0 !important;
    }
  }

  &-logo {
    color: #fff;
    cursor: pointer;
    // margin-left: auto;
    transform: scale(0.7);
    transform-origin: left;
  }

  &-breadcrumb {
    cursor: pointer;
    transform: scale(2);
    display: none;
    visibility: hidden;
    margin-left: auto;

    &:hover svg {
      color: rgba(#fff, 0.7) !important;
    }
  }

  .searchIcon {
    display: none;
    visibility: hidden;

    @media screen and (max-width: 50em) {
      display: inline-block !important;
      visibility: visible;
    }
  }

  @media screen and (max-width: 50em) {
    > [class*='BusinessSearchForm'] {
      display: none;
    }
  }

  &-auth {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;

    & > button {
      &:first-child {
        background-color: unset;
        border: unset;
        // all: unset;
      }
      &:not(:first-child) {
        min-width: 10rem;
      }
    }
    & > .userIcon {
      // display: none;
      // visibility: hidden;

      @media screen and (max-width: 56.25em) {
        // display: inline-block !important;
        // visibility: visible;
      }
    }
    @media screen and (max-width: 56.25em) {
      display: none !important;

      & + .nav-breadcrumb {
        display: inline-block !important;
        visibility: visible;
      }
    }
  }
  @media screen and (max-width: 37.5em) {
    & [class*='BusinessSearchForm'] {
      display: none;
    }
  }

  & .iconTrigger {
    cursor: pointer;
    // transition: color 0.2s;

    & > svg {
      // color: $color-sec !important;
    }

    &:hover svg {
      color: $color-sec !important;
    }
  }
}

.currentUser {
  width: max-content;
  color: #cecece;
  margin-right: 2rem;
}
