.searchSuggestions {
  position: absolute;
  top: calc(100% + 9px);
  left: 0;
  right: 0;
  max-height: 40vh;
  overflow-y: scroll;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  text-align: left;

  & * {
    z-index: 50;
  }

  & ul {
    padding: 7px 3px 0px 3px;
  }
  & li {
    list-style: none;

    &:not(:last-child) {
      border-bottom: 1px solid #e6e6e6;
    }

    & a {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #000;
      // font-weight: 600;
      padding: 8px 20px;
      border-radius: 4px;
      transition: color 0.3s, background-color 0.3s;

      & svg {
        color: $color-pry;
        transition: color 0.3s;
      }
      &:hover svg {
        // color: #fff !important;
      }
    }

    &:hover a {
      background-color: #dddddd;
      // color: #ffffff;
      & > svg {
        // color: #ffffff;
      }
    }
  }
}
